
			.mfilter-counter {
				background: #428bca;
				color: #ffffff;
			}
			.mfilter-counter:after {
				border-right-color: #428bca;
			}
		
				.mfilter-search #mfilter-opts-search_button {
					background-color: #428bca;
				}
			
				.mfilter-slider-slider .ui-slider-range,
				#mfilter-price-slider .ui-slider-range {
					background: #a8a8a8 !important;
				}
			