/*button card*/
.buttoncard {
    color: #ffffff !important;
    background: #00562f !important;
    padding: 7px 16px !important;
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
    text-shadow: none !important;
    border: 1px solid #00562f !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
    -webkit-transition: all 0.3s ease !important;
    -moz-transition: all 0.3s ease !important;
    -o-transition: all 0.3s ease !important;
    transition: all 0.3s ease !important;
    font-family: 'Roboto', sans-serif !important;
    margin-left: 2px !important;
    white-space: nowrap !important;
    line-height: 20px !important;
}

.buttoncard:hover {
    border: 1px solid #00562f !important;
    color: #00562f !important;
    -webkit-transition: all 0.3s ease !important;
    -moz-transition: all 0.3s ease !important;
    -o-transition: all 0.3s ease !important;
    transition: all 0.3s ease !important;
    text-decoration: none !important;
    background-color: #ffffff !important;
}


/*inverse*/
.buttoncardinverse {
    color: #00562f !important;
    background: #ffffff !important;
    padding: 7px 16px;
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
    text-shadow: none !important;
    border: 1px solid #00562f !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
    -webkit-transition: all 0.3s ease !important;
    -moz-transition: all 0.3s ease !important;
    -o-transition: all 0.3s ease !important;
    transition: all 0.3s ease !important;

    font-family: 'Roboto', sans-serif !important;
    margin-left: 2px !important;
    white-space: nowrap !important;
    line-height: 20px !important;
}

.buttoncardinverse:hover {
    border: 1px solid #00562f !important;
    color: #ffffff !important;
    -webkit-transition: all 0.3s ease !important;
    -moz-transition: all 0.3s ease !important;
    -o-transition: all 0.3s ease !important;
    transition: all 0.3s ease !important;
    text-decoration: none !important;
    background-color: #00562f !important;
}


/*button card*/

.buttonbl {
    color: #000000;
    background: rgba(247, 40, 44, 0);
    padding: 11px 16px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    text-shadow: none;
    border: 1px solid #00562f;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    padding-top: 11px;
    font-family: 'Roboto', sans-serif;
    margin-left: 2px;
    white-space: nowrap;
    line-height: 20px;
}

.buttonbl:hover {
    border-bottom: 1px solid #00562f;
    color: #ffffff;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    text-decoration: none;
    background-color: #00562f;
}

.buttinv {
    color: #ffffff;
    background: #00562f;
    padding: 11px 45px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    text-shadow: none;
    border: 1px solid #00562f;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    padding-top: 11px;
    font-family: 'Roboto', sans-serif;
    margin-left: 2px;
    white-space: nowrap;
    line-height: 20px;
    margin-bottom: 10px;
}

.buttinv:hover {
    border-bottom: 1px solid #00562f;
    color: #000000;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    text-decoration: none;
    background-color: #ffffff;
}

.buttonbls {
    color: #000000;
    background: rgba(247, 40, 44, 0);
    padding: 11px 16px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    text-shadow: none;
    border: 1px solid #000000;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    padding-top: 11px;
    font-family: 'Roboto', sans-serif;
    margin-left: 2px;
    white-space: nowrap;
    line-height: 20px;
}

.buttonbls:hover {
    border: 1px solid #ffffff;
    color: #ffffff;
}

.inl-block {
    display: inline-block;
}

.topH li>a {
    color: rgba(255, 255, 255, 0.71) !important;
    padding-top: 30px;
    padding-bottom: 30px;
}

.topH li>a:hover,
a:focus {
    background-color: rgba(255, 255, 255, 0) !important;
    color: #ffffff !important;
}
.topH li>div>a:hover,
a:focus {
    background-color: rgba(255, 255, 255, 0) !important;
    color: black !important;
}

.topH>nav {
    min-height: 90px !important;
}

.froboto {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.frobototh {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

.fplay {
    font-family: 'Playfair Display', serif;
}

.froboto a {
    border: 0px !important;
    color: black;
    padding: 20px 0;
    border-bottom: 2px solid rgba(255, 255, 255, 0) !important;
}

.froboto a:hover {
    background-color: transparent !important;
    color: black;
    border-bottom: 2px solid rgba(177, 177, 177, 0.63) !important;
    transition: all 0.0s ease !important;
}

.frobototh span {
    border: 0px !important;
    color: rgba(255, 255, 255, 0.83);
    padding: 20px 0;
    border-bottom: 0px!important;
}

.frobototh span:hover,
a:focus {
    background-color: transparent !important;
    color: rgba(255, 255, 255, 1);
    border-bottom: 0px !important;
    transition: all 0.0s ease !important;
}


/*logo*/

.logo-block {
    float: left;
    width: 60px;
}

.logo-block img {
    display: block;
    width: 60px;
    height: 60px;
}


/*contacts*/

.contacts-block {
    float: right;
}

header .buttonbl {
    margin-top: 8px;
}


/*MENU*/

.navbar {
    min-height: 0;
    margin-bottom: 0;
    border: none;
}

#menu {
    float: left;
}

.uppcase {
    text-transform: uppercase;
}

.nav {
    margin-top: 0px;
}

.nav>li {
    padding: 0px 5px 0px 5px;
}

.fsize28 {
    font-size: 20pt !important;
}

.fsize11 {
    font-size: 11pt !important;
    padding-left: 6px;
    padding-right: 6px;
}

.fsize16 {
    font-size: 13pt !important;
    padding-left: 6px;
    padding-right: 6px;
}

.grey {
    color: #666;
}

.lightgrey {
    color: #C2C2C2;
}

.upsite {
    margin-top: -4px;
}

.fa {
    padding-left: 8px;
    padding-right: 8px;
}

.AlignTc {
    text-align: center;
}

.Article {
    text-align: center;
}

.Head {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 20pt;
    font-family: 'Playfair Display', serif;
}

.Article .title {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 18pt;
    font-family: 'Playfair Display', serif;
    color: black;
    opacity: 0.7;
}

.Article .title:hover {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 18pt;
    font-family: 'Playfair Display', serif;
    color: black;
    opacity: 1;
}

.mr {
    margin-top: 15px;
    margin-bottom: 15px;
}

.mra {
    max-width: 100%;
    height: auto;
    min-height: 40px;
}

.Article .text {
    text-align: left;
    padding-left: 30px;
    padding-right: 30px;
}

.Article .box {
    border: 1px solid #d2d1d6;
    padding-top: 0px;
}

.box {
    padding-top: 15px;
    border: 1px solid #d2d1d6;
    padding-bottom: 20px;
}

.magnifier {
    opacity: 1;
    position: absolute;
    height: auto;
    display: block;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.magnifier:hover {
    opacity: 0.7;
}

.magnifier:after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0;
    left: 0;
    top: 0;
    background-color: #00562f center center no-repeat #000000;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}


.thumbnail
{
    border: 1px solid #C7DAD1;
    border-radius: 0px;
}


.magnifier:hover:after {
    opacity: 0.6;
}

.News {
    text-align: center;
    background-color: #ededed;
}

.News .Head {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 20pt;
    font-family: 'Playfair Display', serif;
}

.slider:hover {
    display: block;
    overflow-y: hidden;
    max-height: 500px;
    /* approximate max height */
    background-color: #380c0c;
    transition-property: all;
    transition-duration: .5s;
    transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
    margin: inherit;
}

.Abs {
    position: absolute;
    height: auto;
    display: block;
    z-index: -1;
    width: 100%;
}

.static {
    z-index: 1;
    position: relative;
    min-height: 350px;
    min-width: 350px;
}

.rowp10 {
    padding-top: 10px;
    padding-bottom: 10px;
}

.box> .row {
    margin-left: 0px;
    margin-right: 0px;
}

.box>li>p {
    text-align: center;
}

.white_box {
    padding: 20px;
    background-color: white;
    min-height: 280px;
    margin-bottom: 50px;
}

.white_box img {
    min-height: 150px;
}

.fsize8 {
    font-size: 8px;
}

.ulp {
    float: left;
    width: 100%;
    margin: 0;
}

.ulp > li {
    padding-left: 5px;
    padding-right: 5px;
    float: left;
    display: block;
}

.ulp > li a,
nav li a {
    display: block;
}

.green-bg {
    background-color: #00562f;
    margin-top: 20px;
}

hr {
    width: 30%
}

.img-container >img {
    width: 100%;
    height: auto;
   
    
}
.img-container {
    

}

.popup-preview {
    bottom: 30px;
    position: absolute;
    z-index: 9;
}

.popup-preview >div>div {
    border: 1px solid rgba(255, 255, 255, 0.63);
}

.valc {
    position: absolute;
    top: 40%;
    z-index: 10;
    font-size: medium;
    width: 100%;
}


/*slider*/

.slideshowtxt {
       position: absolute;
    z-index: 11;
    top: 0;
    width: 100%;
    text-align: center;
}

.slideshowtxt div {
    border: none !important;
}

.titlef >p {
    font-size: 48pt !important;
    color: black;
    margin-top: 2em;
    margin-bot: 2em;
}

.titles >p {
    font-size: 20pt;
    color: black;
    margin-top: 2em;
    margin-bot: 2em;
}

.slideshowbtn {
    margin-top: 3em;
    margin-bot: 3em;
}
#slideshow0
{
    max-height:600px;
}


 #slideshow0, .owl-stage, .owl-stage-outer
    {
        max-height: 600px !important;
    }



/*категория левый баннер*/
.list-group a {
    border: 1px solid rgba(0, 86, 47, 0.22) !important ;
    color: #555 ;
}
.list-group a:hover {
    color: #000000 !important;
}

.list-group-item:first-child
{
    border-radius: 0px;
    background: #00562f;
}

.list-group-item:last-child
{
    border-radius: 0px;
}

.table-bordered thead
{
    background: #00562f;
    color: white ;
    
}
.table-bordered 
{
    border: 1px solid #C7DAD1 !important;
    
}
.table-bordered td
{
       border: 1px solid #C7DAD1 !important;
}

/*mega filter pro*/
.box-heading
{
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 10pt !important;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    padding-left: 10px !important;
    background: #00562f;
    color: white !important;
    /*  border: 1px solid rgba(0, 86, 47, 0.22) !important;*/
    
        
}
.mfilter-box
{
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    border: 1px solid rgba(0, 86, 47, 0.22) !important;
}

.form-control
{
    border-radius: 0px;
}
.product-thumb
{ border: 1px solid rgba(0, 86, 47, 0.22) !important;
    
}


.img-thumbnail
{
    border-radius: 0px;
    border: 1px solid rgba(0, 86, 47, 0.22) !important;
}
.bordergr
{
     border: 1px solid #C7DAD1 !important;
}
.bordergr td
{
     border: 1px solid #C7DAD1 !important;
}







/*MEDIA*/



@media (max-width: 1200px) {


    .titlef >p {
        font-size: 28pt !important;
        color: black;
        margin-top: 1em;
        margin-bot: 1em;
    }
    .titles >p {
        font-size: 14pt;
        color: black;
        margin-top: 1em;
        margin-bot: 1em;
    }
    .slideshowbtn {
        margin-top: 1.5em;
        margin-bot: 1.5em;
    }
    #slideshow0
    {
        max-height: 600px;
    }
       
    #slideshow0, .owl-stage, .owl-stage-outer
    {
        max-height: 600px !important;
    }
}


/* Portrait tablet to landscape and desktop */

@media (min-width: 768px) and (max-width: 991px) {
    .topH li {
        min-height: 30px;
    }
    .buttonbl {
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 10px;
        padding-right: 10px;
    }
    #menu {
        float: right;
    }
    .popup-preview {
        display: none;
    }
    .rowp10 {
        margin-left: 10%;
        margin-right: 10%;
    }
    /*slideshow*/
   
    .titlef >p {
        font-size: 28pt !important;
        color: black;
        margin-top: 1em;
        margin-bot: 1em;
    }
    .titles >p {
        font-size: 14pt;
        color: black;
        margin-top: 1em;
        margin-bot: 1em;
    }
    .slideshowbtn {
        margin-top: 1.5em;
        margin-bot: 1.5em;
    }
    #slideshow0
    {
        max-height: 300px;
    }

}


/* Landscape phone to portrait tablet */

@media (max-width: 767px) {
    #menu {
        float: none;
        clear: both;
    }
    .rowp10 {
        margin-left: 10%;
        margin-right: 10%;
    }
    .list-unstyled {
        margin-left: 1%;
        margin-right: 1%;
    }
    .popup-preview {
        display: none;
    }
}


/* Landscape phones and down */

@media (max-width: 480px) {
    .rowp10 {
        margin-left: 10%;
        margin-right: 10%;
    }
    .popup-preview {
        display: none;
    }
}
.hand {
    cursor: pointer;
}

.headerscat {
   
    background: #ffffff;
    color: #555 !important;
}
.headerscat :hover{
    background: #00562f;
    color: #555 !important;
  
}

.control-label {
        padding: 6px 0px;
}
#mfilter-content-container >h2
{
    margin-top: 0px;
}
#compare-total
{
    padding-left: 16px;
}

.ulstylecart {
      border: 1px solid rgba(0, 86, 47, 0.22) !important ;
    border-radius: 0px;
}

#slideshow {
    position: relative;
}
