/*green  #00562f */

html
{
        height: 100%;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: #666;
    font-size: 12px;
    line-height: 20px;
    width: 100%;
   /* overflow-x: hidden;*/
    height: 100%;
}

body a {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    color: #00562f;
}

#d_quickcheckout a {
    color: #00562f !important;
}

body li {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

#wrap {min-height: 100%;
padding-bottom: 253px;}

#main {overflow:auto;
	padding-bottom: 253px;}  /* must be same height as the footer */

#footer {position: relative;
	margin-top: -253px; /* negative value of footer height */
	height: 253px;
	clear:both;} 

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #444;
}
#atr1costforlist,
#atr2costforlist,
#atr3costforlist
{
opacity:0.7;
}
header {
    padding-bottom: 2px;
}


/* default font size */

.fa {
    font-size: 14px;
}


/* Override the bootstrap defaults */

h1 {
    margin-top: 0px;
    font-size: 33px;
}

h2 {
    font-size: 27px;
}

h3 {
    font-size: 21px;
}

h4 {
    font-size: 15px;
}

h5 {
    font-size: 12px;
}

h6 {
    font-size: 10.2px;
}

a {
    color: #00562f;
}

a:hover {
    text-decoration: none;
}

legend {
    font-size: 18px;
    padding: 7px 0px
}

label {
    font-size: 12px;
    font-weight: normal;
}

select.form-control,
textarea.form-control,
input[type="text"].form-control,
input[type="password"].form-control,
input[type="datetime"].form-control,
input[type="datetime-local"].form-control,
input[type="date"].form-control,
input[type="month"].form-control,
input[type="time"].form-control,
input[type="week"].form-control,
input[type="number"].form-control,
input[type="email"].form-control,
input[type="url"].form-control,
input[type="search"].form-control,
input[type="tel"].form-control,
input[type="color"].form-control {
    font-size: 12px;
}

.input-group input,
.input-group select,
.input-group .dropdown-menu,
.input-group .popover {
    font-size: 12px;
}

.input-group .input-group-addon {
    font-size: 12px;
    height: 30px;
}


/* Fix some bootstrap issues */

span.hidden-xs,
span.hidden-sm,
span.hidden-md,
span.hidden-lg {
    display: inline;
}

.nav-tabs {
    margin-bottom: 15px;
}

div.required .control-label:before {
    content: '* ';
    color: #F00;
    font-weight: bold;
}


/* Gradent to all drop down menus */

.dropdown-menu li > a:hover {
    text-decoration: none;
    color: #ffffff;
    background-color: #229ac8;
    background-image: linear-gradient(to bottom, #23a1d1, #1f90bb);
    background-repeat: repeat-x;
}


/* top */
#myTops
{
    display: none;
    position: fixed;
    top: 80%;
 
    background: rgba(0, 86, 47, 0.33);

    z-index: 9999999;
    right: 30px;
}
#myTops:hover
{ background-color: #00562f !important;
    
    background: rgba(0, 86, 47, 0.33);
    
}
#myTops:focus
{
        color: white;
     background-color: rgba(0, 86, 47, 0.33) !important;
 
}
#myTops i
{
    color: white;
    z-index: 99999;
}

#top {
    background-color: #ffffff;
    padding-top: 20px;
    
}

#top .container {
    padding: 0 20px;
}

#top #currency .currency-select {
    text-align: left;
}

#top #currency .currency-select:hover {
    text-shadow: none;
    color: #ffffff;
    background-color: #229ac8;
    background-image: linear-gradient(to bottom, #23a1d1, #1f90bb);
    background-repeat: repeat-x;
}

#top .btn-link,
#top-links li,
#top-links a {
    color: #888;
    text-shadow: 0 1px 0 #FFF;
    text-decoration: none;
}

#top .btn-link:hover,
#top-links a:hover {
    color: #444;
}

#top-links .dropdown-menu a {
    text-shadow: none;
}

#top-links .dropdown-menu a:hover {
    color: #FFF;
}

#top .btn-link strong {
    font-size: 14px;
    line-height: 14px;
}

#top-links {
    padding-top: 0px;
}

#top-links a + a {
    margin-left: 15px;
}


/* logo */

#logo {
    margin: 0 0 10px 0;
    max-height: 90px;
    max-width: 90px;
    border: 1px solid white;
}

.hov
{
    position: relative;
        background: #000000;

}
.hov img 
{

       -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.hov:hover img
{

opacity: 1 !important;
}
/* search */

#search {
    margin-bottom: 10px;
}

#search .input-lg {
    height: 40px;
    line-height: 20px;
    padding: 0 10px;
}

#search .btn-lg {
    font-size: 15px;
    line-height: 18px;
    padding: 10px 35px;
    text-shadow: 0 1px 0 #FFF;
}


/* cart */

#cart {
    margin-bottom: 10px;
}

#cart > .btn {
    font-size: 12px;
    line-height: 18px;
    color: #FFF;
}

#cart.open > .btn {
    background-image: none;
    background-color: #FFFFFF;
    border: 1px solid #E6E6E6;
    color: #666;
    box-shadow: none;
    text-shadow: none;
}

#cart.open > .btn:hover {
    color: #444;
}

#cart .dropdown-menu {
    background: #eee;
    z-index: 1001;
}

#cart .dropdown-menu {
    min-width: 100%;
}

@media (max-width: 478px) {
    #cart .dropdown-menu {
        width: 100%;
    }
}

#cart .dropdown-menu table {
    margin-bottom: 10px;
}

#cart .dropdown-menu li > div {
    min-width: 427px;
    padding: 0 10px;
}

@media (max-width: 478px) {
    #cart .dropdown-menu li > div {
        min-width: 100%;
    }
}

#cart .dropdown-menu li p {
    margin: 20px 0;
}


/* menu */

#menu {
    background-color: #ffffff;
    min-height: 40px;
    margin-bottom: 0px;
}

#menu .nav > li > a {
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    padding: 0px 10px 0px 10px;
    min-height: 15px;
    background-color: transparent;
}

#menu .nav > li > a:hover,
#menu .nav > li.open > a {
    background-color: rgba(0, 0, 0, 0);
}

#menu .dropdown-menu {
    padding-bottom: 0;
}

#menu .dropdown-inner {
    display: table;
}

#menu .dropdown-inner ul {
    display: table-cell;
}

#menu .dropdown-inner a {
    min-width: 160px;
    display: block;
    padding: 3px 20px;
    clear: both;
    line-height: 20px;
    color: #333333;
    font-size: 12px;
}

#menu .dropdown-inner li a:hover {
    color: #FFFFFF;
}

#menu .see-all {
    display: block;
    margin-top: 0.5em;
    border-top: 1px solid #DDD;
    padding: 3px 20px;
    -webkit-border-radius: 0 0 4px 4px;
    -moz-border-radius: 0 0 4px 4px;
    border-radius: 0 0 3px 3px;
    font-size: 12px;
}

#menu .see-all:hover,
#menu .see-all:focus {
    text-decoration: none;
    color: #ffffff;
    background-color: #229ac8;
    background-image: linear-gradient(to bottom, #23a1d1, #1f90bb);
    background-repeat: repeat-x;
}

#menu #category {
    float: left;
    padding-left: 15px;
    font-size: 16px;
    font-weight: 700;
    line-height: 40px;
    color: #fff;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
}

#menu .btn-navbar {
    background-color: #00562f;
    font-size: 15px;
    font-stretch: expanded;
    color: #FFF;
    padding: 2px 18px;
    float: right;
}

#menu .btn-navbar:hover,
#menu .btn-navbar:focus,
#menu .btn-navbar:active,
#menu .btn-navbar.disabled,
#menu .btn-navbar[disabled] {
    color: #ffffff;
    background-color: #4b4d4e;
}

@media (min-width: 768px) {
    #menu .dropdown:hover .dropdown-menu {
        display: block;
    }
    #menu {
        border-radius: 0px;
    }
}

@media (max-width: 767px) {
    #menu {
        border-radius: 0px;
    }
    #menu div.dropdown-inner > ul.list-unstyled {
        display: block;
    }
    #menu div.dropdown-menu {
        margin-left: 0 !important;
        padding-bottom: 10px;
        background-color: rgba(0, 0, 0, 0.1);
    }
    #menu .dropdown-inner {
        display: block;
    }
    #menu .dropdown-inner a {
        width: 100%;
        color: #fff;
    }
    #menu .dropdown-menu a:hover,
    #menu .dropdown-menu ul li a:hover {
        background: rgba(0, 0, 0, 0.1);
    }
    #menu .see-all {
        margin-top: 0;
        border: none;
        border-radius: 0;
        color: #fff;
    }
    .hide-sm {
        display: none !important;
    }
}


/* content */

#content {
    min-height: 0px;
}


/* footer */

footer {
    margin-top: 30px;
    padding-top: 30px;
    background-color: #00562f;
    border-top: 1px solid #ddd;
    color: #e2e2e2;
}

footer hr {
    border-top: none;
    border-bottom: 1px solid #666;
}

footer a {
    color: #ccc;
}

footer a:hover {
    color: #fff;
}
.hrcate
{
    margin-top: 0px;
    margin-bottom: 5px;
   width: 100%;
    color: #00562F;
    border-top: 1px solid #00562f; 
}
footer h5 {
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    font-weight: bold;
    color: #fff;
}


/* alert */

.alert {
    padding: 8px 14px 8px 14px;
}


/* breadcrumb */

.breadcrumb {
    margin: 0 0 20px 0;
    padding: 8px 0;
    border: 1px solid rgba(0, 86, 47, 0.71);
    background-color: #ffffff;
    border-radius: 0px;
}

.breadcrumb a {
    color: #2f2f2f;
    font-family: 'Roboto', sans-serif;
}

.breadcrumb i {
    font-size: 15px;
}

.breadcrumb > li {
    padding: 0 20px;
    position: relative;
    white-space: nowrap;
}

.breadcrumb > li + li:before {
    content: '';
    padding: 0;
}

.breadcrumb > li:after {
    content: '';
    display: block;
    position: absolute;
    top: -3px;
    right: -5px;
    width: 26px;
    height: 26px;
    border-right: 1px solid rgba(0, 86, 47, 0.71);
    border-bottom: 1px solid rgba(0, 86, 47, 0.71);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.pagination {
    margin: 0;
}


/* buttons */

.buttons {
    margin: 1em 0;
}

.btn {
    padding: 7.5px 12px;
    font-size: 12px;
    border: 1px solid #cccccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, .2), 0 1px 2px rgba(0, 0, 0, .05);
}

.btn-xs {
    font-size: 9px;
}

.btn-sm {
    font-size: 10.2px;
}

.btn-lg {
    padding: 10px 16px;
    font-size: 15px;
}

.btn-group > .btn,
.btn-group > .dropdown-menu,
.btn-group > .popover {
    font-size: 12px;
}


.btn-group > .btn-xs {
    font-size: 9px;
}

.btn-group > .btn-sm {
    font-size: 10.2px;
}

.btn-group > .btn-lg {
    font-size: 15px;
}
.msld
{
    margin-top: 8px;
    margin-bottom: 32px;
}
.btn-default {
    color: #000000 !important;
    background: rgba(247, 40, 44, 0) !important;
    padding: 6px 6px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0 !important;
    text-shadow: none !important;
    border: 1px solid #00562f !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    font-family: 'Roboto', sans-serif;
    margin-left: 2px;
    white-space: nowrap;
    line-height: 20px;
}

.btn-primary {
    color: #000000 !important;
    background: rgba(247, 40, 44, 0) !important;
    padding: 6px 6px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0 !important;
    text-shadow: none !important;
    border: 1px solid #00562f !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    font-family: 'Roboto', sans-serif;
    margin-left: 2px;
    white-space: nowrap;
    line-height: 20px;
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary.active,
.btn-primary.disabled,
.btn-primary[disabled] {
    border: 1px solid #00562f !important;
    color: #ffffff !important;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    text-decoration: none !important;
    background-color: #00562f !important;
}

.btn-warning {
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #faa732;
    background-image: linear-gradient(to bottom, #fbb450, #f89406);
    background-repeat: repeat-x;
    border-color: #f89406 #f89406 #ad6704;
}

.btn-warning:hover,
.btn-warning:active,
.btn-warning.active,
.btn-warning.disabled,
.btn-warning[disabled] {
    box-shadow: inset 0 1000px 0 rgba(0, 0, 0, 0.1);
}

.btn-danger {
    margin-left: 2px !important;
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #da4f49;
    background-repeat: repeat-x;
    border-color: #bd362f #bd362f #802420;
}

.btn-danger:hover,
.btn-danger:active,
.btn-danger.active,
.btn-danger.disabled,
.btn-danger[disabled] {
    box-shadow: inset 0 1000px 0 rgba(0, 0, 0, 0.1);
}

.btn-success {
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #5bb75b;
    background-image: linear-gradient(to bottom, #62c462, #51a351);
    background-repeat: repeat-x;
    border-color: #51a351 #51a351 #387038;
}

.btn-success:hover,
.btn-success:active,
.btn-success.active,
.btn-success.disabled,
.btn-success[disabled] {
    box-shadow: inset 0 1000px 0 rgba(0, 0, 0, 0.1);
}

.btn-info {
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #df5c39;
    background-image: linear-gradient(to bottom, #e06342, #dc512c);
    background-repeat: repeat-x;
    border-color: #dc512c #dc512c #a2371a;
}

.btn-info:hover,
.btn-info:active,
.btn-info.active,
.btn-info.disabled,
.btn-info[disabled] {
    background-image: none;
    background-color: #df5c39;
}

.btn-link {
    border-color: rgba(0, 0, 0, 0);
    cursor: pointer;
    color: #23A1D1;
    border-radius: 0;
}

.btn-link,
.btn-link:active,
.btn-link[disabled] {
    background-color: rgba(0, 0, 0, 0);
    background-image: none;
    box-shadow: none;
}

.btn-inverse {
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #363636;
    background-image: linear-gradient(to bottom, #444444, #222222);
    background-repeat: repeat-x;
    border-color: #222222 #222222 #000000;
}

.btn-inverse:hover,
.btn-inverse:active,
.btn-inverse.active,
.btn-inverse.disabled,
.btn-inverse[disabled] {
    background-color: #222222;
    background-image: linear-gradient(to bottom, #333333, #111111);
}


/* list group */

.list-group a {
    border: 1px solid #DDDDDD;
    color: #888888;
    padding: 8px 12px;
}

.list-group a.active,
.list-group a.active:hover,
.list-group a:hover {
    color: #555;
    background: #ffffff;
    border: 0px solid #DDDDDD;
    text-shadow: 0 1px 0 #FFF;
}

.mfilter-box {
    margin-top: 10px;
    margin-bottom: 10px;
}
/* carousel */

.carousel-caption {
    color: #FFFFFF;
    text-shadow: 0 1px 0 #000000;
}

.carousel-control .icon-prev:before {
    content: '\f053';
    font-family: FontAwesome;
}

.carousel-control .icon-next:before {
    content: '\f054';
    font-family: FontAwesome;
}


/* product list */

.product-thumb {
    border: 1px solid #ddd;
    margin-bottom: 20px;
    overflow: hidden;
}

.product-thumb .image {
    text-align: center;
}

.product-thumb .image a {
    display: block;
}

.product-thumb .image a:hover {
    opacity: 0.8;
}

.product-thumb .image img {
    margin-left: auto;
    margin-right: auto;
}

.product-grid .product-thumb .image {
    float: none;
}

@media (min-width: 767px) {
    .product-list .product-thumb .image {
        float: left;
        padding: 0 15px;
    }
}

.product-thumb h4 {
    font-weight: bold;
}

.product-thumb .caption {
    padding: 0 20px;
    min-height: 160px;
}

.product-list .product-thumb .caption {
    margin-left: 230px;
}



@media (min-width: 1200px) and (max-width: 1399px) {
    #content .col-lg-2:nth-child(6n+1),
    #content .col-lg-2:nth-child(6n+1),
    #content .col-lg-3:nth-child(4n+1),
    #content .col-lg-4:nth-child(3n+1),
    #content .col-lg-6:nth-child(2n+1) {
        clear: left;
    }
   
}

@media (min-width: 992px) and (max-width: 1199px) {
    #content .col-md-2:nth-child(6n+1),
    #content .col-md-2:nth-child(6n+1),
    #content .col-md-3:nth-child(4n+1),
    #content .col-md-4:nth-child(3n+1),
    #content .col-md-6:nth-child(2n+1) {
        clear: left;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    #content .col-sm-2:nth-child(6n+1),
    #content .col-sm-2:nth-child(6n+1),
    #content .col-sm-3:nth-child(4n+1),
    #content .col-sm-4:nth-child(3n+1),
    #content .col-sm-6:nth-child(2n+1) {
        clear: left;
    }
   
}


/* fixed colum left + content + right*/

@media (min-width: 768px) {
    #column-left .product-layout .col-md-3 {
        width: 100%;
    }
    #column-left + #content .product-layout .col-md-3 {
        width: 50%;
    }
    #column-left + #content + #column-right .product-layout .col-md-3 {
        width: 100%;
    }
    #content + #column-right .product-layout .col-md-3 {
        width: 100%;
    }
}


/* fixed product layouts used in left and right columns */

#column-left .product-layout,
#column-right .product-layout {
    width: 100%;
}


/* fixed mobile cart quantity input */

.input-group .form-control[name^=quantity] {
    min-width: 50px;
}


@media (max-width: 1200px) {
    .product-grid .product-thumb .caption {
        min-height: 210px;
        padding: 0 10px;
    }
}

@media (max-width: 767px) {
    .product-list .product-thumb .caption {
        min-height: 0;
        margin-left: 0;
        padding: 0 10px;
    }
    .product-grid .product-thumb .caption {
        min-height: 0;
    }
}

.product-thumb .rating {
    padding-bottom: 10px;
}

.rating .fa-stack {
    font-size: 8px;
}

.rating .fa-star-o {
    color: #999;
    font-size: 15px;
}

.rating .fa-star {
    color: #FC0;
    font-size: 15px;
}

.rating .fa-star + .fa-star-o {
    color: #00562f;
}
.fa-star-o:before {
color:#00562f;
}
.fa-star:before 
{
   color:#00562f; 
}
h2.price {
    margin: 0;
}

.product-thumb .price {
    color: #444;
}

.product-thumb .price-new {
    font-weight: 600;
}

.product-thumb .price-old {
    color: #999;
    text-decoration: line-through;
    margin-left: 10px;
}

.product-thumb .price-tax {
    color: #999;
    font-size: 12px;
    display: block;
}

.product-thumb .button-group {
    /*   border-top: 1px solid #ddd;
    background-color: #eee;*/
    overflow: auto;
}

.product-list .product-thumb .button-group {
    /* border-left: 1px solid #ddd;*/
}

@media (max-width: 768px) {
    .product-list .product-thumb .button-group {
        border-left: none;
    }
}

.product-thumb .button-group button {
    width: 49% !important;
    border: none;
    display: inline-block;
    float: left;
    background-color: #eee;
    color: #888;
    line-height: 38px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}

.product-thumb .button-group button + button {
    width: 49% !important;
    border-left: 1px solid #ddd;
}

.product-thumb .button-group button:hover {
    color: #444;
    background-color: #ddd;
    text-decoration: none;
    cursor: pointer;
}

@media (max-width: 1200px) {
    .product-thumb .button-group button,
    .product-thumb .button-group button + button {
        width: 33.33%;
    }
}

@media (max-width: 767px) {
    .product-thumb .button-group button,
    .product-thumb .button-group button + button {
        width: 33.33%;
    }
}

.thumbnails {
    overflow: auto;
    clear: both;
    list-style: none;
    padding: 0;
    margin: 0;
}

.thumbnails > li {
    margin-left: 20px;
}

.thumbnails {
    margin-left: -20px;
}

.thumbnails > img {
    width: 100%;
}

.image-additional a {
    margin-bottom: 20px;
    padding: 5px;
    display: block;
    border: 1px solid #ddd;
}

.image-additional {
    max-width: 78px;
}

.thumbnails .image-additional {
    float: left;
    margin-left: 20px;
}

/* Missing focus and border color to overwrite bootstrap */

.btn-info:hover,
.btn-info:active,
.btn-info.active,
.btn-info.disabled,
.btn-info[disabled] {
    background-image: none;
    background-color: #df5c39;
}

.hide-sm {
    display: block;
}


/*button card*/

.buttoncard {
    color: #ffffff !important;
    background: #00562f !important;
    padding: 7px 16px !important;
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
    text-shadow: none !important;
    border: 1px solid #00562f !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
    -webkit-transition: all 0.3s ease !important;
    -moz-transition: all 0.3s ease !important;
    -o-transition: all 0.3s ease !important;
    transition: all 0.3s ease !important;
    font-family: 'Roboto', sans-serif !important;
    margin-left: 2px !important;
    white-space: nowrap !important;
    line-height: 20px !important;
}

#payment_address_email_confirm_input div {
    white-space: nowrap;
}

#payment_address_agree_input label {
    text-align: left !important;
}

#payment_address_customer_group_id_input {
    display: none;
}

.nonewhbg:hover {
    background: rgba(255, 255, 255, 0) !important;
}

.buttoncard:hover {
    border: 1px solid #00562f !important;
    color: #00562f !important;
    -webkit-transition: all 0.3s ease !important;
    -moz-transition: all 0.3s ease !important;
    -o-transition: all 0.3s ease !important;
    transition: all 0.3s ease !important;
    text-decoration: none !important;
    background-color: #ffffff !important;
}

.qc-coupon,
.qc-voucher {
    display: none !important;
}


/*inverse*/

.buttoncardinverse {
    color: #00562f !important;
    background: #ffffff !important;
    padding: 7px 16px;
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
    text-shadow: none !important;
    border: 1px solid #00562f !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
    -webkit-transition: all 0.3s ease !important;
    -moz-transition: all 0.3s ease !important;
    -o-transition: all 0.3s ease !important;
    transition: all 0.3s ease !important;
    font-family: 'Roboto', sans-serif !important;
    margin-left: 2px !important;
    white-space: nowrap !important;
    line-height: 20px !important;
}

.buttoncardinverse:hover {
    border: 1px solid #00562f !important;
    color: #ffffff !important;
    -webkit-transition: all 0.3s ease !important;
    -moz-transition: all 0.3s ease !important;
    -o-transition: all 0.3s ease !important;
    transition: all 0.3s ease !important;
    text-decoration: none !important;
    background-color: #00562f !important;
}


/*button card*/

.buttonbl {
    color: #000000;
    background: rgba(247, 40, 44, 0);
    padding: 11px 16px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    text-shadow: none;
    border: 1px solid #00562f;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    padding-top: 11px;
    font-family: 'Roboto', sans-serif;
    margin-left: 2px;
    white-space: nowrap;
    line-height: 20px;
}

.buttonbl:hover {
    border: 1px solid #00562f !important;
    color: #ffffff !important;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    text-decoration: none !important;
    background-color: #00562f !important;
}

.buttinv {
    color: #ffffff;
    background: #00562f;
    padding: 11px 45px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    text-shadow: none;
    border: 1px solid #00562f;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    padding-top: 11px;
    font-family: 'Roboto', sans-serif;
    margin-left: 2px;
    white-space: nowrap;
    line-height: 20px;
    margin-bottom: 10px;
}

.buttinv:hover {
    border-bottom: 1px solid #00562f;
    color: #000000;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    text-decoration: none;
    background-color: #ffffff;
}
.slideshowbtn {
    position: absolute;
    left: 0;
    bottom: 40px;
    width: 100%;
    }
.buttonbls {
    color: #000000;
    background: rgba(247, 40, 44, 0);
    padding: 11px 16px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    text-shadow: none;
    border: 1px solid #00572F;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    padding-top: 11px;
    font-family: 'Roboto', sans-serif;
    margin-left: 2px;
    white-space: nowrap;
    line-height: 20px;
    display: inline-block;
    }

.buttonbls:hover {
    background-color: #00572F;
    color: #fff;
}

.inl-block {
    display: inline-block;
}

.topH li>a {
    color: rgba(255, 255, 255, 0.71) !important;
    padding-top: 30px !important;
    padding-bottom: 30px !important;
}

.topH li>a:hover,
a:focus {
    background-color: rgba(255, 255, 255, 0) !important;
    color: #ffffff;
}

.nav-tabs>li>a {
    border-radius: 0px;
    border-color: #C7DAD1;
}

.nav-tabs>li>a:hover {
    background-color: rgba(0, 86, 47, 0.22);
    color: #00562f !important;
}

.topH li>div> a:focus {
    background-color: rgba(255, 255, 255, 0) !important;
    color: black !important;
}

.topH>nav {
    min-height: 90px !important;
}

.froboto {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.frobototh {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

.fplay {  
    font-family: 'Playfair Display', serif;
}

.froboto a {
    border: 0px !important;
    color: black;
    padding: 5px 0;
    padding-top: 20px;
    border-bottom: 2px solid rgba(255, 255, 255, 0) !important;
}

.froboto a:hover {
    background-color: transparent !important;
    color: black;
    border-bottom: 2px solid rgba(177, 177, 177, 0.63) !important;
    transition: all 0.0s ease !important;
}

.frobototh span {
    border: 0px !important;
    color: rgba(255, 255, 255, 0.83);
    padding: 20px 0;
    border-bottom: 0px!important;
}

.frobototh span:hover,
a:focus {
    background-color: transparent !important;
    color: rgba(255, 255, 255, 1);
    /*border-bottom: 0px !important;*/
    transition: all 0.0s ease !important;
}

a:focus,
a:hover {
    color: rgba(0, 86, 47, 0.87);
}

.well {
    background-color: white;
    border: 1px solid #C7DAD1;
    border-radius: 0px;
}

.list-group a {
    border: 1px solid #C7DAD1;
    padding: 8px 12px;
}

.list-group-item:first-child {
    color: #ffffff !important;
}

.accordion-toggle:hover {
    color: white;
}


/*logo*/

.logo-block {
        margin-left: 10px;
    float: left;
    width: 60px;
}

.logo-block img {
    display: block;
    width: 60px;
    height: 60px;
}


/*contacts*/

.contacts-block {
    float: right;
}

header .buttonbl {
    margin-top: 8px;
}


/*MENU*/

.navbar {
    min-height: 0;
    margin-bottom: 0;
    border: none;
}

#menu {
    float: left;
}

.uppcase {
    text-transform: uppercase;
}

.nav {
    margin-top: 0px;
}

.nav>li {
    padding: 0px 5px 0px 5px;
}

.fsize28 {
    font-size: 20pt !important;
}

.fsize11 {
    font-size: 11pt !important;
    padding-left: 6px;
    padding-right: 6px;
}

.fsize16 {
    font-size: 12pt !important;
    padding-left: 6px;
    padding-right: 6px;
}

.grey {
    color: #666;
}

.lightgrey {
    color: #C2C2C2;
}

.upsite {
    margin-top: -4px;
}

.fa {
    padding-left: 8px;
    padding-right: 8px;
}

.AlignTc {
    text-align: center;
}

.Article {
    text-align: center;
}

.Head {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 20pt;
    font-family: 'Playfair Display', serif;
}

.Article .title {
 
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 18pt;
    font-family: 'Playfair Display', serif;
    color: black;
    opacity: 0.7;
}

.Article .title:hover {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 18pt;
    font-family: 'Playfair Display', serif;
    color: black;
    opacity: 1;
}

.mr {
    padding: 0px 20px;
       min-height: 60px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.mra {
    max-width: 100%;
    height: auto;
    min-height: 40px;
}

.Article .text {
    text-align: left;
    padding-left: 30px;
    padding-right: 30px;
}

.Article .box {
    border: 1px solid #d2d1d6;
    padding-top: 0px;
}

.box {
    padding-top: 15px;
    border: 1px solid #d2d1d6;
    padding-bottom: 20px;
}

.magnifier {
    opacity: 1;
    position: absolute;
    height: auto;
    display: block;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.magnifier:hover {
    opacity: 0.7;
}

.magnifier:after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0;
    left: 0;
    top: 0;
    background-color: #00562f center center no-repeat #000000;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.thumbnail {
    border: 1px solid #C7DAD1;
    border-radius: 0px;
}

.magnifier:hover:after {
    opacity: 0.6;
}

.News {
    text-align: center;
    background-color: #ededed;
}

.News .Head {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 20pt;
    font-family: 'Playfair Display', serif;
}

.slider:hover {
    display: block;
    overflow-y: hidden;
    max-height: 500px;
    /* approximate max height */
    background-color: #380c0c;
    transition-property: all;
    transition-duration: .5s;
    transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
    margin: inherit;
}

.Abs {
    position: absolute;
    height: auto;
    display: block;
    z-index: -1;
    width: 100%;
}

.static {
    z-index: 1;
    position: relative;
    min-height: 350px;
    min-width: 350px;
}

.rowp10 {
    padding-top: 10px;
    padding-bottom: 10px;
}

.box> .row {
    margin-left: 0px;
    margin-right: 0px;
}

.box>li>p {
    text-align: center;
}

.white_box {
    padding: 20px;
    background-color: white;
    min-height: 280px;
    margin-bottom: 50px;
}

.white_box img {
    min-height: 150px;
}

.fsize8 {
    font-size: 8px;
}

.ulp {
    float: left;
    width: 100%;
    margin: 0;
}

.ulp > li {
    padding-left: 5px;
    padding-right: 5px;
    float: left;
    display: block;
}

.ulp > li a,
nav li a {
    display: block;
}

.green-bg {
    background-color: #00562f;
    margin-top: 20px;
}

hr {
    width: 30%
}

.img-container img {
    width: 100% !important;
    height: auto;
}

.img-container {}

.popup-preview {
    bottom: 30px;
    position: absolute;
    z-index: 9;
    left: 0;
    right: 0;
    
}

.popup-preview >div>div {
    border: 1px solid rgba(255, 255, 255, 0.63);
}

.valc {
    position: absolute;
    bottom: -10px;
    z-index: 10;
    font-size: medium;
    width: 100%;
}


/*slider*/

.slideshowtxt {
    background: rgba(237, 237, 237, 0.9);
    width: 300px;
    top: 10%;
    height: 310px;
    padding: 40px 20px;
    margin: 0 auto;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    position: absolute;
    z-index: 11;
    text-align: center;
    color: #000;
    line-height: 2em;
}
.slideshowtxt p {
    margin: 0;
}
.slideshowtxt div {
    border: none !important;
}

.titlef {
    font-size: 24px !important;
    margin: 0 0 15px;
    }
.titles {
    font-size: 14px;
    }

.panel {
    border-radius: 0px;
}
#slideshow0 {
    max-height: 600px;
}

#slideshow0,
.owl-stage,
.owl-stage-outer {
    max-height: 600px !important;
}

.hrprdct {
    width: 75.4%;
    color: #00562F;
    border-top: 1px solid #00562f;
    margin-bottom: 5px;
    margin-left: 10%;
    margin-right: 10%;
}

.btn-danger {
    color: #000000 !important;
    background: rgba(247, 40, 44, 0) !important;
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
    text-shadow: none;
    border: 1px solid #00562f !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    font-family: 'Roboto', sans-serif;
}

.btn-danger:hover {
    color: #ffffff !important;
    background: #00562f !important;
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
    text-shadow: none;
    border: 1px solid #00562f !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    font-family: 'Roboto', sans-serif;
}


/*категория левый баннер*/

.list-group a {
    border: 1px solid rgba(0, 86, 47, 0.22) !important;
    color: #555;
}

.list-group a:hover {
    color: #000000 !important;
}

.list-group-item:first-child {
    border-radius: 0px;
    background: #00562f;
}

.list-group-item:first-child:hover {
    color: white !important;
    background: #00562f;
}

.list-group-item:last-child {
    border-radius: 0px;
}

.table-bordered thead {
    background: #00562f;
    color: white;
}

.table-bordered {
    border: 1px solid #C7DAD1 !important;
}

.table-bordered td {
    border: none !important;
    border-color: #C7DAD1 !important;
}

.pagination>li:first-child>span {
    border-top-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
}

.pagination>li:last-child>a,
.pagination>li:last-child>span {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.pagination>li>a {
    color: #00562f !important;
    border: 1px solid #C7DAD1;
}

.pagination>li>span {
    border: 1px solid #C7DAD1;
}

.pagination>li>a:focus,
.pagination>li>a:hover,
.pagination>li>span:focus,
.pagination>li>span:hover {
    z-index: 3;
    color: #00562f;
    background-color: #C7DAD1;
    border-color: #C7DAD1;
}

.pagination>.active>a,
.pagination>.active>a:focus,
.pagination>.active>a:hover,
.pagination>.active>span,
.pagination>.active>span:focus,
.pagination>.active>span:hover {
    z-index: 2;
    color: #ffffff;
    cursor: default;
    background-color: #00562f;
    border-color: #C7DAD1;
}


/*mega filter pro*/

.box-heading {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 10pt !important;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    padding-left: 10px !important;
    background: #00562f;
    color: white !important;
    /*  border: 1px solid rgba(0, 86, 47, 0.22) !important;*/
}

.mfilter-box {
    overflow: hidden;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    border: 1px solid rgba(0, 86, 47, 0.22) !important;
}

.form-control {
    border-radius: 0px;
}

.product-thumb {
    border: 1px solid rgba(0, 86, 47, 0.22) !important;
}

.img-thumbnail {
    border-radius: 0px;
    border: 0px solid rgba(0, 86, 47, 0.22) !important;
}

.bordergr {
    border: 1px solid #C7DAD1 !important;
}

.bordergr td {
    border: 1px solid #C7DAD1 !important;
}


/*MEDIA*/
@media (max-width: 1399px) {

    #slideshow0 {
        max-height: 600px;
        }
    #slideshow0, .owl-stage, .owl-stage-outer {
        max-height: 600px !important;
        }
    .popup-preview {
        margin: 0;
        }
    .popup-preview>div {
        display: inline-block;
        padding: 0;
        width: 25px;
        }
    .popup-preview .hov a *{
        display: none;
        }
    .hov {
        background: transparent;
        border: none !important;
        display: inline-block;
        }
    .popup-preview a {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        padding: 0;
        background-color: #fff !important;
        display: inline-block;
        box-shadow: 0 1px 3px rgba(0,0,0,.5);
        }
    .slideshowtxt {
        height: 250px;
        padding: 20px;
        }
    .slideshowbtn {
        bottom: 20px;
        }
}
@media (max-width: 1199px) {
    
    }
/* Portrait tablet to landscape and desktop */

@media (min-width: 768px) and (max-width: 991px) {
    .topH li {
        min-height: 30px;
        }
    .buttonbl {
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 10px;
        padding-right: 10px;
        }
    #menu {
        float: right;
        }
    .popup-preview {
        display: none;
    }
    .rowp10 {
        margin-left: 10%;
        margin-right: 10%;
    }
    /*slideshow*/
    .slideshowtxt {
        left: 20px;
        transform: none;
        top: 0;
        bottom: 0;
        height: 100%;
        }
    .slideshowbtn {
        position: relative;
        bottom: auto;
        }
    #slideshow0 {
        max-height: 300px;
    }
    
}


/* Landscape phone to portrait tablet */

@media (max-width: 767px) {
    #menu {
        float: none;
        clear: both;
    }
    #slideshow {
    display: none;
    }
    .rowp10 {
        margin-left: 10%;
        margin-right: 10%;
    }
    .list-unstyled {
        margin-left: 1%;
        margin-right: 1%;
    }
    .popup-preview {
        display: none;
    }
}
@media (max-width: 640px) {
.breadcrumb > li:after {
    top: 4px;
    right: -5px;
    width: 14px;
    height: 14px;
  
    
}
      .chi
    {
        
        margin-left: 5px;
        margin-right: 5px;
    }
    
    
    
}
/* Landscape phones and down */

@media (max-width: 480px) {
    #myTops
     {    
    display: none;
    }
    .name_news
    {
            font-size: x-large;
    }
    h1
    {
        font-size: 25px;
    }
    .contact-btnquestion
    {
        margin-bottom: 10px;
    }
    .breadcrumb > li {
        padding: 0 10px;
            line-height: 39px;
             white-space: normal;
        display: inherit;
        right:10px;
    }
    .breadcrumb > li:after {
    top: 8px;
    right: -5px;
    width: 20px;
    height: 20px;
   
    
    }
    
    .rowp10 {
        margin-left: 10%;
        margin-right: 10%;
    }
    .popup-preview {
        display: none;
    }
    .upsite {
        display: none;
    }
    #slideshow0 {
        display: none;
    }
    .topH li>a {
        padding-top: 12px !important;
        padding-bottom: 12px !important;
    }
    .ulp > li a,
    nav li a {
        width: 100%;
    }
    .ulp > li {
        text-align: center;
        float: none;
    }
    .contacts-block {
        float: none;
    }
    .logo-block {
        margin-left: 40%;
    }
    .ulp > li {
    padding-left: 0px;
    padding-right: 0px;
    }
}

.hand {
    cursor: pointer;
}

.headerscat {
    background: #ffffff;
    color: #555 !important;
}

.headerscat:hover {
    background: #00562f;
    color: #555 !important;
}

.control-label {
    text-align: left !important;
    padding: 8px 0px;
    padding-left: 12px;
}

#mfilter-content-container >h2 {
    margin-top: 0px;
}

#compare-total {
    padding-left: 16px;
}

.ulstylecart {
    border: 1px solid rgba(0, 86, 47, 0.22) !important;
    border-radius: 0px;
}

#slideshow {
    position: relative;
}

a.ma_punkt
{
    color: #00562f;
    border: none !important;
    text-transform: uppercase;
    padding-left: 0px;
    padding-right: 0px;
}
a.ma_punkt:hover
{
        color: #00562f !important;
    border-bottom: 1px solid #00562f !important;
}
.artsty
{
     display:inline-block;
    font-size: 16px;
    line-height: 32px;   
}

.list-group #carousel0 a {
border: 0px !important;
}
.list-group #carousel0 .buttonbl
{
    border: 1px solid #00562f !important;
    text-shadow: none !important;

  
}
.list-group #carousel0 .buttonbl:hover
{
  color: white !important;
  
}
