.buttonbl {
    color: #000000;
    background: rgba(247, 40, 44, 0);
    padding: 11px 16px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    text-shadow: none;
    border: 2px solid black;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    padding-top: 11px;
    font-family: 'Roboto', sans-serif;
    margin-left: 2px;
    white-space: nowrap;
    line-height: 20px;
    display: inline-block;
}

.buttonbl:hover {
    border-bottom: 2px solid rgba(44, 34, 34, 0.87);
    color: #ffffff;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    text-decoration: none;
    background-color: #000000;
}




.inl-block {
    display: inline-flex;
}

.topH {
    min-height: 90px;
}

.topH div {
    line-height: 90px;
}

.topH ul.nav {
    margin-top: 1.2em;
}


.topH>nav {
    min-height: 90px !important;
}

.froboto {
    font-family: 'Roboto', sans-serif;
}

.froboto a {
    color: black;
}

.uppcase {
    text-transform: uppercase;
}
.nav
{
    margin-top: 0px;
}
.nav>li
{
    padding: 0px 5px 0px 5px;
}